<!DOCTYPE html>
<html ng-app="myApp">

<html>

<head>
	<title>Мой новый проект</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" style="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="jquery-3.2.1.min.js"></script>
	</head>
<body  ng-controller="firstCtrl">

	<div>
		
		<form class="flex-container">
			<input type="text" ng-model="tempInput" ng-change="addReset()" />
			<input type="reset" value="x" id="backRound" ng-click="delReset()" />
		</form>
	</div> 
	<br />
	<div class="form-group">
		<button type="submit" ng-click="newBtn()" ng-model="oldBnt" id="btn1" class="btn btn-primary ma-font">{{oldBtn}}</button>
	</div>
	<div>

		<p ng-repeat="task in taskArray">Hello, {{task}}!
<button type="reset" value="x" id="res1" ng-click="deleteItem(task)">x</button></p>
	</div>

<section class="game-container">
	<h1>My first game</h1>
	<table>
		<tr><td>sdf</td><td>sdf</td><td>sdf</td></tr>
		<tr><td>sdf</td><td>sdf</td><td>sdf</td></tr>
		<tr><td>sdf</td><td>sdf</td><td>sdf</td></tr>
	</table>
</section>

</body>
</html>

