<!DOCTYPE html>
<html leng="ru">
<head>
	<title>MyProject</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" style="text/css" href="style.css">
	<script src="angular.min.js"></script>
	<script src="jquery-3.2.1.min.js"></script>>
	<script src="app_tow.js"></script>
	
</head>
<body>
	<script src="app.js"></script>
<script src="greeter.ts"></script>
	<div ng-app="myApp" >
		<div ng-controller="firstCtrl">
			<form>
				<input type="text" ng-model="nameUse" ng-change="addReset()"/>
				<button type="reset">x</button>
			</form>
			<br />
			<div class="form-group">
				<div class="ma-btn-orange"></div>
				<button type="submit" ng-click="addName()" ng-model="newButton" id="btn1"  class="btn btn-primary ma-font">{{newButton}}</button>
			</div>
			<div>
				<p ng-repeat="nameUse in nameArray">Привет, {{nameUse}} !<button ng-click="deleteItem(nameUse)">x</button></p>
			</div>
		</div>
	</div>
	<br />

  <h2>Фильтры jQuery</h2>
    <table border="1" width="300">
        <tr><td>jQuery</td><td>четная строка</td></tr>
        <tr><td>jQuery</td><td>нечетная строка</td></tr>
        <tr><td>jQuery</td><td>четная строка</td></tr>
        <tr><td>jQuery</td><td>нечетная строка</td></tr>
        <tr><td>jQuery</td><td>четная строка</td></tr>
        <tr><td>jQuery</td><td>нечетная строка</td></tr>
    </table><br>
    <input type="button" value="Поменять цвет" onclick="addColor3();">

</body>
</html>
