<!DOCTYPE html>
<html leng="ru">
<head>
	<title>MyProject</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" style="text/css" href="style.css">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<script src="app_tow.js"></script>
</head>
<body >

	<div ng-app="myApp" >
		<div ng-controller="firstCtrl">
			<form>
				<input type="text" ng-model="nameUse"/>
				<button type="reset">{{clearBtn}}</button>
			</form>
			<br />
			<div class="form-group">
				<div class="ma-btn-orange"></div>
				<button type="submit" ng-click="addName()" ng-model="newButton" id="btn1"  class="btn btn-primary ma-font">{{newButton}}</button>
			</div>
			<div>
				<p ng-repeat="nameUse in nameArray">Привет, {{nameUse}} !<button ng-click="deleteItem(nameUse)">X</button></p>
			</div>
		</div>
	</div>
	<br />

<!--div ng-app="myApps">
<div ng-controller="towCtrl">
		<form>
			<input type="text" ng-model="nameNewUse"/>
		</form>
	<br />
	<div class="form-group">
		<button type="submit" ng-click="addnewName()">ДОБАВИТЬ</button>
		</div>
		
	<div>
		<p ng-repeat="nameNewUse in nameNewArray">Hello {{nameNewUse}} !<button>X</button></p>
	</div>
	</div>
</div-->



</body>
</html>
